; SMP-11 (#467) leg: cpu_mode and isolation_group.
;   alpha -- both keys set: `config alpha` must tag both lines (set).
;   beta  -- neither key: `config beta` must show dedicated / beta (default).
;   gamma -- cpu_mode = shared with a cpu_set: admission must refuse it (decision 84).
[hype]
config_version = 1

[vm.alpha]
vcpus = 1
mem_mb = 1024
cpu_mode = shared
isolation_group = payroll
boot = installer
install_media = \iso\test.iso
firmware = uefi
os_hint = linux
net_mode = none
target_disk = file:\hype\disks\alpha.img

[vm.beta]
vcpus = 1
mem_mb = 1024
boot = installer
install_media = \iso\test.iso
firmware = uefi
os_hint = linux
net_mode = none
target_disk = file:\hype\disks\beta.img

[vm.gamma]
vcpus = 1
cpu_set = 2
cpu_mode = shared
mem_mb = 1024
boot = installer
install_media = \iso\test.iso
firmware = uefi
os_hint = linux
net_mode = none
target_disk = file:\hype\disks\gamma.img
