; #387: two USB sticks on one controller. The VM's media is EXPLICITLY on stick B (#323
; media_disk) -- resolvable only if the second stick was claimed as a media device.
[hype]
config_version = 1
log_level = debug

[vm.u]
vcpus = 1
mem_mb = 1024
boot = installer
install_media = \iso\test.iso
media_disk = HYPE387B
firmware = uefi
os_hint = linux
net_mode = none
target_disk = file:\hype\disks\u.img
