; #594: a boot = kernel VM whose disk is REMOVABLE USB media over the emulated guest xHCI (#446).
[hype]
config_version = 1

[vm.u]
label = 594 removable usb-msc
vcpus = 1
mem_mb = 1024
boot = kernel
kernel = \EFI\hype\micro\vmlinuz-virt
initrd = \EFI\hype\micro\initramfs-virt
cmdline = console=uart8250,io,0x3f8,115200n8 acpi=off nosmp
os_hint = linux
net_mode = none
disks = u

[disk.u]
type = disk
backing = file
path = \hype\disks\usbdisk.img
bus = usb-msc
