; TERM-15 (#491) leg: two VMs; the run deletes 'beta' from the dashboard and the
; second boot must come up with only 'alpha'.
[hype]
config_version = 1

[vm.alpha]
vcpus = 1
mem_mb = 1024
boot = installer
install_media = \iso\test.iso
firmware = uefi
os_hint = linux
net_mode = none
target_disk = file:\hype\disks\alpha.img

[vm.beta]
vcpus = 1
mem_mb = 1024
boot = installer
install_media = \iso\test.iso
firmware = uefi
os_hint = linux
net_mode = none
target_disk = file:\hype\disks\beta.img
