; #295: one VM with a file-backed virtio-blk disk to write to. Semicolon comments, since '#' is
; also a comment now (#357) but ';' is what the rest of the tools use.
[hype]
config_version = 1

[vm.wtest]
label = 295 write workload
vcpus = 1
mem_mb = 1024
boot = installer
install_media = \iso\test.iso
firmware = uefi
os_hint = linux
net_mode = none
disks = w

[disk.w]
backing = file
path = \hype\disks\w295.img
bus = virtio-blk
