; #588: a boot = kernel VM WITH a configured virtio-blk disk. Before hype programmed the BARs
; itself, adding this disk to a firmware-less kernel VM wedged the guest at the virtio probe.
[hype]
config_version = 1

[vm.rk]
label = 588 kernel + disk
vcpus = 1
mem_mb = 1024
boot = kernel
kernel = \EFI\hype\micro\vmlinuz-virt
initrd = \EFI\hype\micro\initramfs-virt
cmdline = console=uart8250,io,0x3f8,115200n8 acpi=off nosmp
os_hint = linux
net_mode = none
target_disk = file:\hype\disks\vda.img
